<%= form_with(model: eat, local: true) do |f| %>
  <div class="field">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text, "説明" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "料理の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>